<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Slabmo</string>
	<key>ThemeIdentifier</key>
	<string>com.rb81.themes.slabmo</string>
	<key>CreatorHomePage</key>
	<string>https://github.com/rb81/</string>
	<key>CreatorName</key>
	<string>Rakan</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>